# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Homebox Add-on
version: "0.22.3"
slug: homebox
description: Run Homebox inventory inside Home Assistant
url: "https://github.com/jscarrott/homebox-addon"
arch:
  - armv7
  - aarch64
  - amd64
ports:
  7745/tcp: 7745
webui: "http://[HOST]:[PORT:7745]"
image: "ghcr.io/jscarrott/homebox-addon-{arch}"
